<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<security-constraint>
		<display-name>PAC Ressys Security REST interface</display-name>
		<web-resource-collection>
			<web-resource-name>PAC Ressys REST interface</web-resource-name>
			<description>Secure access to PAC Ressys application through REST API</description>
			<url-pattern>/rest/*</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
			<http-method>PUT</http-method>
			<http-method>DELETE</http-method>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>PAC Ressys Web interface</web-resource-name>
			<description>Secure access to PAC Ressys application</description>
			<url-pattern>/web/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<description>Only special roles have access to the application</description>
			<role-name>Admin</role-name>
			<role-name>User</role-name>
			<role-name>Guest</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	<security-constraint>
		<display-name>PAC Ressys Security REST interface</display-name>
		<web-resource-collection>
			<web-resource-name>PAC Ressys Web interface</web-resource-name>
			<description>Secure access to PAC Ressys application</description>
			<url-pattern>/web/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<description>Only special roles have access to the application</description>
			<role-name>Admin</role-name>
			<role-name>User</role-name>
			<role-name>Guest</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>ApplicationRealm</realm-name>
	</login-config>
	<security-role>
		<role-name>Admin</role-name>
	</security-role>
	<security-role>
		<role-name>User</role-name>
	</security-role>
	<security-role>
		<role-name>Guest</role-name>
	</security-role>
</web-app>